 #contenedorCarrusel{
		margin: 0;
		padding: 0;
	}

	body{
	   overflow-x: hidden;
	    overflow-y: hidden;
	    background-color: #FFD6AA;

	}

	.navegacion button {
		width: 100%;
	}

	#contenedor{
		margin: 0;
		padding: 0;
		margin-left: -70px;
	}

	h1{
		background-color: #186078;
		color: white;
		width: 95%;
		padding-left: 5%;
		padding-right: 5%;
		font-family: 'Roboto', sans-serif;
	}
	h2{
		background-color: #4890A8;
		color: white;
		width: 50%;
		padding-left: 5%;
		padding-right: 5%;
		font-family: 'Roboto', sans-serif;
	}
	p{
		background-color: #90C0D8;
		color: white;
		width: 600px;
		padding-left: 5%;
		padding-right: 5%;
	}

	
	.butn{
		border-radius: 0px;
		background-color: #D4A26A;
		border: none;
		height: 50px;
		color: white;
		font-size: 18pt;
		font-family: 'Roboto', sans-serif;
	}
	.butn:active{
		color: white;
		border-radius: 0px;
		background-color: #D4A26A;
		font-weight: bold;
		border: none;
	}
	.slick-active > button{
		color: white;
		background-color: #186078;
	}
	
	.roboto{
		font-family: 'Roboto', sans-serif;
	}

	.quicksand{
		font-family: 'Quicksand', sans-serif;
	}

	
	